@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.f1 {
    height: 100vh;
}

.bg-nav {
    background-color: black;
}

.ntxt {
    font-family: 'Bebas Neue', cursive;
    font-size: 120%;
    color: white;
}

.ntxtd {
    font-family: 'Bebas Neue', cursive;
    font-size: 120%;
    color: black;
}